
.container {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

.weather-info {
    margin-top: 20px;
}

.city-name {
    font-size: 24px;
    margin-bottom: 10px;
}

.weather-description {
    font-size: 18px;
    margin-bottom: 10px;
}

.temperature {
    font-size: 18px;
    margin-bottom: 10px;
}

.humidity {
    font-size: 18px;
}
